### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
build

### VS Code ###
.vscode/

### Gradle ###
.gradle/
gradle.properties

### Gradle Wrapper ###
gradle/wrapper/
gradle/wrapper/gradle-wrapper.properties

### large files ###
test-drive-meta/